.Pallete-wrapper {
  /* max-height: 60%; */
}

.Pallete-title {
  font-size: 20px;
  background-color: var(--primaryColor);
  border-radius: 10px 10px 0 0;
  padding: 20px;
}

.Pallete-container {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  background-color: var(--primaryColor);
  border-radius: 0 0 10px 10px;
  padding: 0px 30px 30px 20px;
  max-height: 400px;
  overflow: auto;
}

.Pallete-container > div {
  flex-shrink: 0;
}
