.PixelPerfect-container {
  max-height: 100%;
  max-width: 100%;
  height: 100%;
  width: 100%;
  overflow: auto;
  display: grid;
  position: relative;
}

.PixelPerfect-loader-container {
  max-height: 100%;
  max-width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.PixelPerfect-container-img {
  position: absolute;
  top: 0;
  left: 0;
}
